html {
    font-family: "Source Code Pro";
    font-weight: 300;
    font-size: 16px;
    background-color: #a7ada0;
}

/* ------ HEADER ------- */
header {
  color: #f0dcb8;
  display: flex;
  font-family: "DM Mono", monospace;
  font-weight: 200;
  background-color: #1b4259;
  width: 100%;
  justify-content: space-between;
}
header p {
  font-size: 2.5rem;
  padding-left: 2rem;
}

#navlist {
  display: inline-flex;
  justify-content: space-around;
  float: right;
  align-content: center;
}

#navlist li {
  padding: 1.25rem;
  padding-top: 1.75rem;
  list-style: none;
  font-size: 1.5rem;
}
.links {
  text-decoration: none;
  color: #f3f1dd;
}
.links:visited {
  color: #f3f1dd;
}
/* ------ MAIN ------- */
main {
  color: #1b4259;
  text-align: center;
}

.intro {
  padding-top: 10rem;
  font-size: 1.5rem;
}

.intro h2 {
  font-size: 2.5rem;
}

.intro span {
  color: aliceblue;
}

.intro img {
  width: 50rem;
  height: auto;
  border-radius: 2rem;
}